<div class="navigatorzoom">
  zoom: {{zoom}}
  <input type="range"  min="0" max="100" 
      #zoomref (change)="changeZoom(zoomref.value)">

  <div class="navigatorzoomcontent" >
    <div [ngStyle]="setStyles()" class="navigatorcontentinner">
        Dwayne Jones was a Jamaican 16-year-old who was killed by a violent mob in Montego Bay in 2013, after he attended a dance party dressed in women's clothing.[a] The incident attracted national and international media attention and brought increased scrutiny to the status of LGBT rights in Jamaica.
        Perceived as effeminate, Jones was bullied in school and, at the age of 14, was forced out of his family home by his father. He moved into a derelict house in Montego Bay with transgender friends. On the evening of 21 July 2013, they went to the Irwin area of the city and attended a dance party. When some men at the party discovered that the cross-dressing Jones was not a woman, they confronted and attacked him. Jones was beaten, stabbed, shot, and run over by a car; he died in the early hours of the morning. Police investigated the murder but did not arrest or charge anyone for the crime, which remains unsolved.

        The event made newspaper headlines in Jamaica and was reported on in the United Kingdom and the United States. While voices on social media accused Jones of provoking his killers by cross-dressing in public, the murder was condemned by Jamaican educators and the country's Justice Minister. In the wake of the attack, both domestic and international organisations devoted to LGBT rights and human rights – among them Human Rights Watch, Jamaicans for Justice, and the Jamaica Forum for Lesbians, All-Sexuals & Gays – asked the Jamaican authorities for a proper investigation and for legal recognition of LGBT rights on the island.
    </div>
  </div>

</div>
