.navigatorkategorie {
    height: 150px;
    text-align: center;
    border: 1px; 
    border-style: solid;
    border-color: black;
    margin: 1px;
    position: relative;
}

.navigatorkategorie:hover { 
    background-color: yellow;
}

#overlay{
    width:150px;
    height: 150px;
    position:absolute; 
    left:0;
    top:0; 
    z-index: 999;
}