.navigatorcontainer {
    border: 1px; 
    border-style: solid;
    padding: 5px;
    margin: 5px;   
}

.navigatorcontainertitle
{
    background-color: #967f67;
    padding: 10px;
}


.navigatorcontainercontent
{
    margin: 30px;
}

.navigatormag
{
    color: black;
}