<!--The content below is only a placeholder and can be replaced.-->
<div class="navigator">
  <div class="navigatorheader">
    <h1>Navigator</h1>
  </div>

  <div class="navigatorkategorien">

      <div class="navigatorkategorie">
        Kat 1
      </div>

      <div class="navigatorkategorie">
        Kat 2
      </div>

      <div class="navigatorkategorie">
        Kat 3
      </div>

  </div>


  <div class="navigatoraspect">
    Aspekt
  </div>

  <!-- Themenfelder -->
  <app-themenfelder></app-themenfelder>

  <div class="navigatorcontent">
    Content
  </div>


</div>


