<!--The content below is only a placeholder and can be replaced.-->
<div class="navigator">

  <div class="navigatorheader">
    <h1>Navigator</h1>
  </div>

  <div class="flexcontainer">

    <!-- Kategorien -->
    <div class="flexmenuleft">
      <app-kategorien></app-kategorien> 
    </div>

    <div class="flexcontent">
      
      <!-- Pfad und Actions oben  -->
      <div class="flexcontainerpathcomp" >
         <div class="flexpathcompactions">
            <app-actions></app-actions>
         </div>
         <div class="flexpathcomppath">
            <app-path></app-path>
         </div>
      </div>

      <!-- Themenfelder -->
      <app-themenfelder></app-themenfelder>

      <!-- Content -->
      <router-outlet></router-outlet>
    </div>
  
  </div>

</div>


